{% extends "blog/base.html" %}

{% load lucide %}
{% load i18n %}

{% block toolbar %}
  {% if user.is_authenticated %}
    <div class="mx-auto p-2 max-w-screen-md text-right">
      <a class="btn btn-sm" href="{% url "post_new" %}">Create Post</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <a class="mb-8 py-4" href="{{ post.get_absolute_url }}">
      <post>
        <header>
          <h2 class="text-[28px] font-black">{{ post.title }}</h2>
          <p class="mb-1 text-sm opacity-70">{{ post.date }}</p>
        </header>
      </post>
    </a>
  {% endfor %}
{% endblock %}
